<div class="movie-container">
{{#each model as |movie|}}
 <div class="movie">
   <img class="poster" src="http://localhost:3000/images/posters/{{movie.poster_filename}}" alt="poster for {{movie.title}}" onclick={{action "selectMovie"}}/>
 </div>
{{/each}}
</div>
<button {{action "prevPage"}}>Previous</button>
<button {{action "nextPage"}}>Next</button>
